* text=auto

/.github           export-ignore
/templates/example export-ignore
/tests             export-ignore
/phpunit.xml       export-ignore
/*.md              export-ignore
/LICENSE*          export-ignore
/.*                export-ignore
